.header{
    background-color: #141414;
    width: 73vw;
    height: 10vh;
    float: right;
}
nav{
    height: 100%;
}
.menu-list{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    list-style: none;
    color:white;
    position: relative;
    font-weight: 300;
}

.menu-item {
    height: 100%;
}

a{
    text-decoration: none;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}
a:hover{
    cursor: pointer;
    color:#1E90FF;
}
a::after{
    content: "";
    width: 100%;
    height: 0.15rem;
    background-color: #1E90FF ;
    display: block;
    width: 0;
    bottom: 0;
    position: absolute;
}
a:hover:after{
    
    width: 100%;
    
    transition: all ease-in-out 200ms;
}


.highlight:after{
    width: 100%;
}
.highlight{
    color:#1E90FF;
}